
</main>


<!-- Footer -->

<footer class="footer">
  <div class="row ph2 container">
    <div class="col pv2 l1of2 ">

        <a href="/index.html" class="logo"><h1 class="pb4">FLC</h1></a>

      <p class="pb4">Fit Letter Club is a global publication - edited in the United Kingdom and Hong Kong, Printed in Germany, and dispatched to the world.</p>
      <p class="pb4">It is for the intellectual health and fitness enthusaist wishing to deepen their knowledge.</p>
      <div class="">
        <div class="">Social Media</div>
        <div class="">Maps and Stuff</div>
        <div class="">other Stuff</div>
      </div>
    </div>

    <div class="col l1of4">

    </div>
    <div class="col l1of4">

    </div>
  </div>
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script async type="text/javascript" src="/scripts/hamburgers.js"></script>
  <script async type="text/javascript" src="/scripts/header-shadow.js"></script>


</footer>

</body>
</html>
