
<!-- Navigation -->
<body class="">

<header class="z_1 w_100 sticky top_0 is-{{ page.group }}-page">
  <div class="w_100 row container ph2">

    <div class="w_100 row  justify_spread pv1_m pv1 ph2">

        <div class="col pl3_m">
          <div class=" dfr justify_spread">
            <div class="col dfr">
              <button id="hamburger" class="pr3 s_only hamburger hamburger--collapse z_1 " type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
              <a href="/index.html" class="logo l_m"><h1>FLC</h1></a>
            </div>
            <a  href="" class="mv-auto s_only no-underline">Buy/Subscribe</a>
          </div>

        </div>

        <nav id="modalnav" class=" modal">
          <div class="pv3_s pt1_m modal-content is-{{ page.group }}-page fw4">
            <ul class="">
              <li class="fw8_s tc mb4 di_m ma3 bb_hovered_m bw2_hovered "><a class=" no-underline" href="/magazine.html">Magazine</a></li>
              <li class="fw8_s tc mv4 di_m ma3  bb_hovered_m bw2_hovered "><a class=" no-underline" href="/newsletter.html">Newsletter</a></li>
              <li class="fw8_s tc mv4 di_m ma3 bb_hovered_m bw2_hovered "><a class=" no-underline" href="/blog.html">Blog</a></li>
              <li class="fw8_s tc mv4 di_m ma3 bb_hovered_m bw2_hovered "><a class=" no-underline" href="about.html">About</a></li>
              <li class="fw8_s tc mt4 di_m ma3"><a class="bg_light dark_muted no-underline btn dark_muted dark_hovered" href="">Buy/Subscribe</a></li>
            </ul>
          </div>

        </nav>

    </div>


  </div>
</header>


<!-- Content -->
<main>
