<!-- News Letter Sign up -->

<section class="top_diagonal-down-2 pt5 bg_brand-red">
    <div class="container row pa4_m pa3">
      <div class="col l1of3 row">
        <div class="row pb4">
          <p class="xl b ttu light pb4">newsletter <br>
          <span class="l dark normal">Curated fitness content around the web</span></p>
              <p class=" row  l">Every second wednesday</p>
        </div>

      </div>
      <div class="col dfc l2of3 pl5_m">
        <div class=" mv-auto l_m   ">
          <p class="mb4 ">The world of health and fitness is flooded with articles every day. We'll pick through them and present you with a collection of some the most interesting that. In line with the ethos of our publication, we'll weed out the nonsense.</p>
        </div>
        <div class="signup mv-auto">
          {% include signup-form.html %}
        </div>
      </div>
    </div>
</section>
