/*-----------------------*/
/*-- Point-Explanation --*/
/*-----------------------*/

.point-explanation {
  display: flex;
  flex-direction: column;

  div:first-child {
    font-weight: normal;
  }
}
