---
layout: default
group: blog
---

<!-- Page Title -->

<section class=" is-{{ page.group }}-page">
  <div class="row container pa4_m pa3  pt5 ">
    <div class="row pv4 ">
      <h2 class="col l1of2  xxl mb2 row_center_s ttu "> Blog </h2>
      <div class="l mv-auto col l1of2">
        <div class=" l_m light"> The Magazine presents the content, but sometimes, it's nice to see how it all gets put together and what goes on in our heads </div>
      </div>
    </div>

  </div>
</section>


</section>

<section class="">
  <div class="row container pa4_m pa3 pt5">
    {{ content }}
  </div>

</section>

{% include newsletter-segment.html %}
